<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>StarIsland</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>StarIsland</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.starisland.autobackup</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>StarIsland 需要使用相机来记录瞬间。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>StarIsland 需要使用您的位置信息来记录地点。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>StarIsland 需要访问相册以选择照片。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>StarIsland 需要保存照片到相册。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>StarIsland 需要使用麦克风记录语音。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>StarIsland 需要使用语音识别将录音转为文字。</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlue</string>
				</array>
			</dict>
			<key>AppIconPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPurple</string>
				</array>
			</dict>
			<key>AppIconBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlack</string>
				</array>
			</dict>
			<key>AppIconOrange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconOrange</string>
				</array>
			</dict>
			<key>AppIconGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreen</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
